.vscode
.idea
*.model
*.wakati
*.npy

101_ObjectCategories/
deep-learning/image/gyudon/image/
tensorflow-tutorial/image-recognition/models/
deep-learning/tensorflow/mnist/log_dir
deep-learning/tensorflow/mnist/mnist
tensorflow-tutorial/mnist/MNIST_data
machine-learning/mnist/mnist
python-numpy-to-cnn/dataset
python-numpy-to-cnn/__pycache__
